<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Song Playlist</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>

  <body>
    <div class="frame">
      <div class="toolbar">
        <div class="toolbar-left">
          <h1>Song Records</h1>
        </div>
        <div class="toolbar-right">
          <div class="toolbar-card">
            Sort By:
            <select class='select-option' [(ngModel)]="sort_by" (change)='onOptionsSelected($event)' >
              <option class='string' *ngFor='let option of sortOptions' [value]="option">{{option}}</option>
            </select>
            <br/>
          </div>
          <div class="toolbar-card">
            Items per page:
            <select class='select-option' [(ngModel)]="max_per_page" (change)='onSizeSelected($event)' >
              <option class='string' *ngFor='let size of sizeOptions' [value]="size">{{size}}</option>
            </select>
          </div>
        </div>
      </div>
      

      <!-- List -->
      <div>
        
        <input type="hidden" #selection>
        <form [formGroup]="delete_form">
          <div *ngIf="albums">
            <table class="songTable">
              <thead class="songTableTR">
                <tr>
                  <th class="songTableTD first-child" scope="col">ID</th>
                  <th class="songTableTD" scope="col">Title</th>
                  <th class="songTableTD" scope="col">Artist</th>
                  <th class="songTableTD" scope="col">Release Date</th>
                  <th class="songTableTD" scope="col">Price</th>
                  <th class="songTableTD" scope="col">Remove</th>
                </tr>
              </thead>
              <tbody>
              
                <tr class="songTableTR" *ngFor="let album of albums | slice:start:end; let i = index" >
                  <td class="songTableTD first-child">{{ album.id }}</td>
                  <td class="songTableTD">{{ album.title }}</td>
                  <td class="songTableTD">{{ album.artist }}</td>
                  <td class="songTableTD">{{ album.date | date}}</td>
                  <td class="songTableTD">${{ album.price }}</td>
                  <td class="songTableTD">
                    <input type="checkbox"  [name]="album.id" [value]="album.id" (change)="onCheckboxChange($event)" [checked]="is_checked(album.id)"/>
                  </td>
                </tr>
                <tr>
                  <td colspan="5">
                    <div class="pageBox">
                      <p>Displaying {{start+1}}-{{get_true_end()}} of {{total}} entries</p>
                    </div>
                    <span class="allLabel">Select All:</span>
                  </td>
                  <td >
                    <input type="checkbox"  name="all" value="all" (change)="selectAllOnPage()" [checked]="all_selected"/>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>  
        </form>
        <div class="footer">
          <div class="pageBox">
            <div class="pageButtonBox">
              <button class="scroll" (click)="scroll_down()" tabindex="0" [disabled]="!has_less()">
                <span>Previous</span>
              </button>
              <button class="scroll" (click)="scroll_up()" tabindex="0" [disabled]="!has_more()">
                <span>Next</span>
              </button>
            </div>
          </div>
          <div class="pageBoxR">
            <div class="entryAddDelBox">
              <button class="new_entry" (click)="openNewEntry()" tabindex="0">
                <span>New Entry</span>
              </button>
              <button class="new_entry" (click)="save()" tabindex="0">
                <span>Save</span>
              </button>
              <button class="new_entry" (click)="load(false)" tabindex="0">
                <span>Load</span>
              </button>   
              <button (click)="openConfirmDelete()" tabindex="0">
                <span>Delete</span>
              </button>
            </div>
            <br />
          </div>
        </div> 
      </div>
    </div>
  </body>
</html>
<!-- Footer -->

<router-outlet></router-outlet>
