<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Song Playlist</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>

  <body>
    <div class="frame">
      <div class="toolbar">
        <div class="toolbar-left">
          <h1>Song Records</h1>
        </div>
        <div class="toolbar-right">
          <div class="toolbar-card">
            Sort By:
            <select class='select-option' [(ngModel)]="sort_by" (change)='onOptionsSelected($event)' >
              <option class='string' *ngFor='let option of sortOptions' [value]="option">{{option}}</option>
            </select>
            <br/>
          </div>
          <div class="toolbar-card">
            Items per page:
            <select class='select-option' [(ngModel)]="max_per_page" (change)='onSizeSelected($event)' >
              <option class='string' *ngFor='let size of sizeOptions' [value]="size">{{size}}</option>
            </select>
          </div>
        </div>
      </div>
      

      <!-- List -->
      <div>
        
        <input type="hidden" #selection>
          <form [formGroup]="delete_form">
          <table class="songTable">
              <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Artist</th>
                <th scope="col">Release Date</th>
                <th scope="col">Price</th>
                <th scope="col">Remove</th>
                
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let album of albums | slice:start:end; let i = index" >
                  <td class="songTableTD first-child">{{ album.id }}</td>
                  <td class="songTableTD">{{ album.title }}</td>
                  <td class="songTableTD">{{ album.artist }}</td>
                  <td class="songTableTD">{{ album.date | date}}</td>
                  <td class="songTableTD">${{ album.price }}</td>
                  <td class="songTableTD">
                    <input type="checkbox"  [name]="album.id" [value]="album.id" (change)="onCheckboxChange($event)" [checked]="is_checked(album.id)"/>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td ></td>
                  <td ></td>
                  <td ></td>
                  <td ></td>
                  <td >
                    <input type="checkbox"  name="all" value="all" (change)="select_all()" [checked]="all_selected"/>
                  </td>
                </tr>
            </tbody>
          </table>
        </form>
        <div class="pageBox">
          <div class="pageButtonBox">
            <button class="scroll" (click)="scroll_down()" tabindex="0" [disabled]="!has_less()">
              <span>Previous</span>
            </button>
            <button class="scroll" (click)="scroll_up()" tabindex="0" [disabled]="!has_more()">
              <span>Next</span>
            </button>
          </div>
          <div class="pageButtonBox">
            <p>Displaying {{start+1}}-{{get_true_end()}} of {{total}} entries</p>
          </div>
        </div>
        <div class="pageBoxR">
          <div class="entryAddDelBox">
            <button class="new_entry" (click)="show_new_form()" tabindex="0" [hidden]="!new_hidden">
              <span>New Entry</span>
            </button>
            <button class="new_entry" (click)="hide_new_form()" tabindex="0" [hidden]="new_hidden">
              <span>Hide New Entry</span>
            </button>
            
            <button (click)="openConfirmDelete()" tabindex="0">
              <span>Delete</span>
            </button>
          </div>
          <br />
        </div> 
  
        
        
        <form #FormName = "ngForm" (ngSubmit)="submit_new(FormName)" [hidden]="new_hidden"> 
          <fieldset class="newEntry">
              <legend>New Entry</legend>
              <label>ID<br />
              <input type="number" name="id" id="id" required = true ngModel/></label><br />
              <label>Song Title<br />
              <input type="text" name="title" id="title" ngModel/></label><br />
              <label>Artist<br />
              <input type="text" name="artist" id="artist" ngModel/></label><br />
              <label>Release Date<br />
              <input type="date" name="date" id="date" ngModel/></label><br />
              <label>Price<br />
              <input type="number" name="price" id="price" ngModel/></label><br />
              <button type="submit">Submit</button>
          </fieldset>
        </form>
      </div>
    </div>
  </body>
</html>
<!-- Footer -->

<router-outlet></router-outlet>
