:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
    margin: 0;
    font-size: xx-large;
    margin-left: auto;
    margin-right: auto;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: static;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: inside;
  align-items: center;
  justify-items: center;
  background-color: #1A2944;
  color: white;
  font-weight: 600;
  border-width: 0;
  padding: 0;
  margin: 0;
  overflow: auto;
}

.toolbar-card{
  width: max-content;
  position: static;
  margin-left: auto;
  margin-right: 0;
}

.toolbar-left{
  float: left;
}

.toolbar-right{
  float: right;
}

.pageBox{
  width: min-content;
  padding: auto;
  margin-left: 0;
  margin-right: auto;
  float: left;
}

.pageBoxR{
  width: min-content;
  padding: auto;
  margin-left: auto;
  margin-right: 0;
  float: right;
}

.pageButtonBox{
  width: max-content;
  position: static;
  margin-right: 0;
}

.entryAddDelBox{
  width: max-content;
  position: static;
  margin: 0 auto;
  margin-left: auto;
  margin-right: 0;

}


.fafax{
  color: red;
}

.newEntry {
  width: min-content;
  border: 1px solid rgb(0, 0, 0);
  padding: auto;
  margin: auto;
}

.new_button{
  float: right;
  margin-left: auto;
  margin-right: 0;
}

.delete_button{
  float: right;
  margin-left: auto;
  margin-right: 0;
}

.frame {
  width: 450px;
  border: 15px solid #84BF41;
  padding: auto;
  margin: auto;
  overflow: auto;
}

.select-option {
  text-size-adjust: 50%;
}
.songTable {
  border: none;
  border-collapse: collapse;
  position: static;
  width: 100%;
  text-align: center;
}

.songTableTD{
  border-left: 1px solid #000;
}

.songTableTD:first-child{
  border-left: none;
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card {
  all: unset;
  border-radius: 4px;
  border: 1px solid rgb(0, 0, 0);
  background-color: #84BF41;
  height: 40px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}


.card.card-small {
  height: 16px;
  min-width: 15px;
  max-width: 86px;
}

.card.card-delete {
    height: 3px;
    width: 3px;
    color: white;
    background-color: #e40000;
  }


footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}
